<div class="breadcrumbs" ncy-breadcrumb></div>

<div layout="column" ng-cloak class="md-inline-form">
    <md-card>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>{{$ctrl.scheduleData.nome}}</span>
                <div flex></div>
            </div>
        </md-toolbar>

        <div layout-padding>
            <form name="queryUserForm" ng-submit="queryUserForm.$valid && $ctrl.save()">
                <div layout-gt-xs="row">
                    <md-datepicker ng-model="$ctrl.data" md-placeholder="Enter date"
                               md-date-filter="$ctrl.dateValid" ng-change="$ctrl.onSelect()"></md-datepicker>

                    <div style="width: 250px; margin-left: 250px;">
                        <md-button ng-disabled="$ctrl.schedule.hour == hour" class="md-raised" ng-repeat="hour in $ctrl.hours" ng-click="$ctrl.onSelecthour(hour)">
                            {{hour}}
                        </md-button>
                    </div>
                </div>

                <md-button type="submit" class="md-raised md-primary" ng-disabled="queryUserForm.$invalid">
                    <md-icon ng-bind="'check'"></md-icon> Marcar
                </md-button>

            </form>
        </div>
    </md-card>
</div>