<div class="content-list">
    <md-list flex>
        <md-subheader class="md-no-sticky">Agendamentos</md-subheader>
        <md-list-item ng-click="$ctrl.isResolved(schedule.$id) ? '' : $ctrl.go(schedule.$id)" class="course-item md-3-line" ng-repeat="schedule in $ctrl.schedules" ng-disabled="$ctrl.isResolved(schedule.$id)">
            <div class="md-list-item-text" layout="column">
                <h3>{{schedule.nome}}</h3>
                <p>Data inicial: {{schedule.dataInicial | date: 'dd/MM/yyyy'}}</p>
                <p>Data Final {{schedule.dataFinal | date: 'dd/MM/yyyy'}} </p>
                <p style="font-weight: 800;">{{!$ctrl.isResolved(schedule.$id) ? 'Não reservado' : 'Reservado'}}</p>
            </div>

            <!--<md-icon class="md-secondary" aria-label="Chat">-->
                <!--edit-->
            <!--</md-icon>-->
        </md-list-item>
    </md-list>
</div>