<md-toolbar class="md-whiteframe-1dp">
    <div class="md-toolbar-tools">
        <div class="md-title">
            <md-icon>date_range</md-icon>
        </div>

        <h2 flex md-truncate>Schedule</h2>

        <md-button class="md-icon-button" aria-label="Logout" ng-click="logout()">
            <md-icon>power_settings_new</md-icon>
        </md-button>

    </div>
</md-toolbar>

<!--<md-button class="md-fab md-fab-bottom-right md-primary" style="position: fixed;" ng-click="$ctrl.generatePPC($ctrl.courseData)">-->
    <!--<md-icon aria-label="Novo PPC">open_in_new</md-icon>-->
<!--</md-button>-->

<!-- MAIN CONTENT -->
<!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
<div flex layout="row" style="position: relative;">
    <sidebar
            ng-if="isAdmin"
            layout="column"
            features="features"></sidebar>

    <md-content role="main" flex layout="column" md-scroll-y ui-view autoscroll ng-class="isAdmin ? 'content-site' : ''"></md-content>
</div>