<div class="breadcrumbs" ncy-breadcrumb></div>

<div layout="column" ng-cloak class="md-inline-form">
    <md-card>
        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>Evento</span>
                <div flex></div>
            </div>
        </md-toolbar>

        <div layout-padding>
            <form name="queryUserForm" ng-submit="queryUserForm.$valid && $ctrl.save()">
                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Nome</label>
                        <input ng-model="$ctrl.event.nome" placeholder="Nome do evento" maxlength="120">
                    </md-input-container>
                </div>

                <div layout-gt-xs="row">
                    <div>
                        <md-date-range-picker
                                date-start="$ctrl.dataInicial"
                                date-end="$ctrl.dataFinal"
                                selected-template-name="selectedRange.selectedTemplateName"
                                selected-template="selectedRange.selectedTemplate"
                                show-template="false"
                                first-day-of-week="0"
                                disable-templates="TW"
                                one-panel="true"
                                custom-templates="mdCustomTemplates"
                        ></md-date-range-picker>
                    </div>


                    <div layout="row" layout-wrap flex style="margin-left: 70px;">
                        <div ng-repeat="days in $ctrl.intervalDate.days" flex="25">
                            <div>Dia <span style="font-weight: 800;">{{days}}</span></div>
                            <md-input-container flex-gt-sm>
                                <label>Inicio</label>
                                <input ng-model="$ctrl.timeInicial['data' + $index]" type="time">
                            </md-input-container>

                            <md-input-container flex-gt-sm>
                                <label>Final</label>
                                <input ng-model="$ctrl.timeFinal['data' + $index]" type="time">
                            </md-input-container>
                        </div>
                    </div>
                </div>

                <div layout-gt-xs="row">
                    <md-input-container class="md-block" flex-gt-sm>
                        <label>Intevalo</label>
                        <input ng-model="$ctrl.event.intervalo" placeholder="Intervalo de tempo" type="number">
                    </md-input-container>
                </div>

                <md-button type="submit" class="md-raised md-primary" ng-disabled="queryUserForm.$invalid">
                    <md-icon ng-bind="'save'"></md-icon> Salvar
                </md-button>

            </form>
        </div>
    </md-card>
</div>